[data-x='ToastPortraitAnimation'] {
  width: calc(100% - 2rem);
  position: relative;

  [data-x='Toast'] {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 100%;
    padding: 1.3rem;
    border-radius: 1.3rem;
  }
}
