.ui-Checkbox {
  --height: 1rem;
  --gap: var(--m);
  display: flex;
  align-items: center;
}

.ui-Checkbox.--round > .box {
  border-radius: 50%;
}

.ui-Checkbox.--s {
  min-height: var(--checkbox_height__s);
  --height: calc(var(--checkbox_height__s) - var(--m) * 2);
}
.ui-Checkbox.--m {
  min-height: var(--checkbox_height__m);
  --height: calc(var(--checkbox_height__m) - var(--m) * 2);
}
.ui-Checkbox.--l {
  min-height: var(--checkbox_height__l);
  --height: calc(var(--checkbox_height__l) - var(--m) * 2);
}

.ui-Checkbox > .input {
  position: absolute;
  width: var(--height);
  height: var(--height);
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.ui-Checkbox > .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--height);
  height: var(--height);
  overflow: hidden;
  border-radius: 1px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1rem var(--checkbox_bg__checked);
  color: white;
}

.ui-Checkbox:has(span) {
  gap: 0.5rem;
}

/* Checked */

.ui-Checkbox > input:checked + .box {
  background-color: var(--checkbox_bg__checked);
}

/* Focused */

.ui-Checkbox > input:focus + .box {
  box-shadow:
    0 0 0 0.1rem var(--checkbox_bg__checked),
    0 0 0 0.2rem #7ed321;
}

/* Hovered */

.ui-Checkbox:hover > .box {
  background-color: var(--checkbox_bg__hover);
}

/* Disabled */

.ui-Checkbox > input:disabled + .box {
  box-shadow: 0 0 0 0.1rem var(--checkbox_bg__disabled);
  background-color: transparent;
  color: var(--checkbox_color__disabled);
}

.ui-Checkbox > .input:checked:disabled + .box {
  background-color: var(--checkbox_bg__disabled);
}
