.ui-H1 {
  font-size: 1.6em;

  &.marginBottom--xxxl {
    margin-bottom: var(--xxxl);
  }
  &.marginBottom--xl {
    margin-bottom: var(--xl);
  }
}

.ui-H2 {
  font-size: 1.2em;

  &.marginBottom--xxxl {
    margin-bottom: var(--xxxl);
  }
  &.marginBottom--xl {
    margin-bottom: var(--xl);
  }
}
