.content {
  width: 630px;
  user-select: none;
  height: 180px;
}

.content > div {
  position: absolute;
  width: 180px;
  height: 180px;
  transform-origin: 50% 50% 0px;
  color: white;
  touch-action: none;
  text-align: center;
}
