.a-Field {
  width: 100%;
  background: var(--field_bg);
  border-radius: var(--field_borderRadius);
}

.a-Field.--transparent {
  background-color: transparent;
  border-color: transparent;
}

.a-Field.--s {
  height: var(--field_height__s);
}
.a-Field.--m {
  height: var(--field_height__m);
}
.a-Field.--l {
  height: var(--field_height__l);
}

.a-Field:hover {
  background: var(--field_bg__hover);
}

.a-Field.--focused {
  background: var(--field_bg__focus);
  box-shadow: 0px 0px 0px var(--field_outlineWidth) var(--field_outlineColor);
}

.a-Field.--disabled {
  background: var(--field_bg__disabled);
}
.a-Field.--hidden {
  display: none;
}

.a-Field.--error {
  background: var(--field_bg__error);
}
.a-Field.--error.--focused {
  background: var(--field_bg__error__focus);
}
.a-Field.--error:hover {
  background: var(--field_bg__error__hover);
}
