@keyframes fromRight {
  from {
    transform: translateX(33px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fromLeft {
  from {
    transform: translateX(-33px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fromBottom {
  from {
    transform: translateY(33px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
