.ui-Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Modal_bg);

  & > .wrapper {
    position: relative;
    animation: opacity 0.33s normal forwards;
  }

  & > .wrapper > .closeButton {
    position: absolute;
    right: var(--m);
    top: var(--m);
    z-index: 1;
  }
}

.ui-Modal.--opened.--blured {
  animation: blur 0.3s normal forwards;
}

.ui-Modal.--closing.--blured {
  animation: blurBackwards 0.3s normal forwards;
}

/**
 * Animation
 */

@keyframes blur {
  from {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    opacity: 0;
  }
  to {
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    opacity: 1;
  }
}

@keyframes blurBackwards {
  from {
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    opacity: 1;
  }
  to {
    backdrop-filter: blur(0px);
    opacity: 0;
    -webkit-backdrop-filter: blur(0px);
  }
}
