.a-Button.ui-Button {
  font-size: 0.8em;
}

.ui-Button {
  border-radius: var(--m);
  text-transform: uppercase;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:active:not(:disabled) > span {
    transform: translateY(1px);
  }

  &:disabled > span {
    opacity: 0.5;
  }

  &:focus {
    box-shadow: 0px 0px 0px var(--Button_outlineWidth) var(--Button_outlineColor);
  }
}
