.ui-LoginForm-w-UserItem {
  width: 100%;
  position: relative;
  display: flex;

  .user {
    width: 100%;
    display: flex;
    align-items: center;
    height: var(--field_height__l);
    border-radius: var(--field_borderRadius);
    background-color: var(--field_bg);
    padding: 0 var(--m);
  }

  > .user > .avatar {
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    margin-right: var(--l);
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
  }

  > .user > .name {
    font-size: 1rem;
  }
}
